[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==0.85.1"
pandas = "*"
requests = "*"
colorthief = "*"
typing = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
